<div class="flex flex-col w-full relative select-none">
  <div class="flex justify-between items-center p-3 pb-1 bg-gray-400 text-white rounded-t h-[40px] !z-30">
    <span class="text-xl font-medium !m-0 drop-shadow">{{ getWeekRange(referenceDate) }}</span>
  </div>
  <div>
    <div class="[&>div]:border [&>div]:p-1 w-full grid grid-cols-6 [&>div]:flex [&>div]:justify-center [&>div]:items-center font-medium">
      <div></div>
      <div>Luni</div>
      <div>Marți</div>
      <div>Miercuri</div>
      <div>Joi</div>
      <div>Vineri</div>
    </div>
    <div class="h-[400px] w-full border flex justify-center items-center" *ngIf="isLoading">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
    <div class="overflow-auto scrollbar-hide" *ngIf="!isLoading">
      <div class="[&>div]:border w-full grid grid-cols-6" *ngFor="let employee of employees; let i = index">
        <div class="flex justify-center items-center font-medium">
          <span> {{ employee.firstName }} {{ employee.lastName }} </span>
        </div>
        <div class="col-span-5 relative pt-8">
          <div
            cdkDropList
            [id]="'list' + i + listIndex"
            [cdkDropListData]="employee.tasks"
            [cdkDropListConnectedTo]="getLinkedLists()"
            (cdkDropListDropped)="drop($event)"
            class="!z-20 flex flex-col !min-h-[30px]"
          >
            <div class="grid grid-cols-5 [&>*]:border-r [&>*]:p-2 absolute inset-0 text-xs text-slate-400">
              <div class="w-full flex justify-end" [class.inactive-panel]="!isDayAvailable(1)" [matTooltip]="getFreeDay(1)?.title">
                {{ getWeekDayDate(1) }}
              </div>
              <div class="w-full flex justify-end" [class.inactive-panel]="!isDayAvailable(2)" [matTooltip]="getFreeDay(2)?.title">
                {{ getWeekDayDate(2) }}
              </div>
              <div class="w-full flex justify-end" [class.inactive-panel]="!isDayAvailable(3)" [matTooltip]="getFreeDay(3)?.title">
                {{ getWeekDayDate(3) }}
              </div>
              <div class="w-full flex justify-end" [class.inactive-panel]="!isDayAvailable(4)" [matTooltip]="getFreeDay(4)?.title">
                {{ getWeekDayDate(4) }}
              </div>
              <div class="w-full flex justify-end" [class.inactive-panel]="!isDayAvailable(5)" [matTooltip]="getFreeDay(5)?.title">
                {{ getWeekDayDate(5) }}
              </div>
            </div>

            <app-resizeable-project
              (_edit)="getWeek()"
              (_delete)="deleteTask($event)"
              [referenceDate]="referenceDate"
              [isGlobalDragDisabled]="isGlobalDragDisabled"
              [task]="task"
              *ngFor="let task of employee.tasks"
            ></app-resizeable-project>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
