<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3" *ngIf="!isLoading">
  <mat-form-field appearance="outline">
    <mat-label>Tip proiect</mat-label>
    <mat-select [formControl]="projectForm.controls.typeId">
      <mat-option *ngFor="let issueType of issueTypes" [value]="issueType.id">
        {{ issueType.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex gap-3">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="projectForm.controls.status">
        <mat-option [value]="EProjectStatus.NOT_STARTED">Neînceput</mat-option>
        <mat-option [value]="EProjectStatus.IN_PROGRESS">În progres</mat-option>
        <mat-option [value]="EProjectStatus.CLOSED">Închis</mat-option>
        <mat-option [value]="EProjectStatus.FINISHED">Terminat</mat-option>
        <mat-option [value]="EProjectStatus.RECURRING">Revenire</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-grow" appearance="outline">
      <mat-label>Introduceți o perioadă de timp</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Data început" [formControl]="projectForm.controls.startDate" />
        <input matEndDate placeholder="Data sfârșit" [formControl]="projectForm.controls.endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.startDate)">
        {{ ValidationHelperService.getErrorMessage(projectForm.controls.startDate) }}
      </mat-error>
      <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.endDate)">
        {{ ValidationHelperService.getErrorMessage(projectForm.controls.endDate) }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex gap-3">
    <mat-form-field class="w-full flex-grow">
      <mat-label>Titlu</mat-label>
      <input matInput [formControl]="projectForm.controls.title" />
      <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.title)"
        >{{ ValidationHelperService.getErrorMessage(projectForm.controls.title) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Culoare</mat-label>
      <input matInput [formControl]="projectForm.controls.color" type="color" />
      <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.color)"
        >{{ ValidationHelperService.getErrorMessage(projectForm.controls.color) }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Importanță</mat-label>
    <mat-select [formControl]="projectForm.controls.importance" required>
      <mat-option [value]="0">Necunoscut</mat-option>
      <mat-option [value]="1">Foarte Mică</mat-option>
      <mat-option [value]="2">Mică</mat-option>
      <mat-option [value]="3">Medie</mat-option>
      <mat-option [value]="4">Mare</mat-option>
      <mat-option [value]="5">Foarte Mare</mat-option>
    </mat-select>
    <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.importance)"
    >{{ ValidationHelperService.getErrorMessage(projectForm.controls.importance) }}
    </mat-error>
  </mat-form-field>


  <mat-form-field class="w-full">
    <mat-label>Descriere</mat-label>
    <textarea matInput [formControl]="projectForm.controls.description" class="!resize-none" rows="10"></textarea>
    <mat-error *ngIf="ValidationHelperService.isInvalid(projectForm.controls.description)"
      >{{ ValidationHelperService.getErrorMessage(projectForm.controls.description) }}
    </mat-error>
  </mat-form-field>
  <app-employee-issue-form [issue]="project" *ngIf="!!project?.id"></app-employee-issue-form>
  <div class="p-5 border-t flex justify-end gap-5">
    <button mat-flat-button>Salvează</button>
    <button mat-flat-button color="warn" (click)="close.emit()" type="button">Anulează</button>
  </div>
</form>
<div class="w-full h-[400px] flex justify-center items-center" *ngIf="isLoading">
  <mat-spinner diameter="80"></mat-spinner>
</div>
