<div class="flex flex-col gap-3">
  <div class="flex justify-between items-center py-3 border-b mb-5">
    <h2 class="text-xl font-bold !m-0">Calendar angajați</h2>
    <div class="flex gap-5 items-center">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Alegeți o dată de referință</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="referenceDate"
          (change)="changeReferenceDateByEvt($event)"
          (dateChange)="changeReferenceDate($event.target.value)"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button (click)="openCreateEmployeeProjectDialog()" color="primary">
        Adaugă task
        <mat-icon class="ml-2">add</mat-icon>
      </button>
      <button mat-flat-button (click)="openCreateFreeDayDialog()" color="primary">
        Adaugă zi liberă
        <mat-icon class="ml-2">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex-grow flex flex-col gap-3 pb-3 relative">
    <div class="absolute right-0">
      <app-projects-stack [isGlobalDragDisabled]="isGlobalDragDisabled" [listIndexes]="[1, 2]"></app-projects-stack>
    </div>
    <app-week
      [isGlobalDragDisabled]="isGlobalDragDisabled"
      [reloadObservable]="$reloadObservable"
      [referenceDateObservable]="_referenceDateObservable"
      [referenceDate]="referenceDate"
      [listIndex]="1"
      [listIndexes]="[1, 2]"
    ></app-week>
    <!--    <app-week
          [isGlobalDragDisabled]="isGlobalDragDisabled"
          [reloadObservable]="$reloadObservable"
          [referenceDateObservable]="_referenceDateNextWeekObservable"
          [referenceDate]="referenceDateNextWeek"
          [listIndex]="2"
          [listIndexes]="[1, 2]"
        ></app-week>-->
  </div>
</div>
