<div class="h-full w-full p-5">
  <div class="flex flex-col gap-5 h-full max-w-[1200px] mx-auto">
    <div>
      <app-bradcrumbs-menu></app-bradcrumbs-menu>
    </div>
    <div class="flex-grow">
      <div class="h-full flex flex-col gap-5" *ngIf="!isLoading">
        <div class="flex justify-between items-center">
          <div class="flex justify-center items-center gap-5">
            <h1 class="text-3xl font-bold !m-0">{{ projectType?.title }}</h1>
          </div>
          <div class="flex gap-5 items-center">

            <div class="w-[40px] h-[40px] rounded-full shadow" [style.background-color]="projectType?.color ?? 'white'"></div>
            <a
              [routerLink]="'/dashboard/project-types/' + projectType.id + '/' + projectType.title + '/archive'"
              mat-flat-button
              class="!bg-gray-400"
              >Arhivă</a
            >
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation(); $event.preventDefault()">
              <mat-icon>more_vert</mat-icon>
            </button>

          </div>
        </div>
        <div>
          <p>{{ projectType?.description }}</p>
        </div>
        <div class="flex flex-col gap-5 h-full" *ngIf="!isLoading">
          <div class="flex justify-between items-center w-full gap-5 border-b py-3">
            <h3 class="text-xl font-bold !m-0">Proiecte</h3>
            <form *ngIf="projectType?.issues?.length > 0" [formGroup]="sortForm" (ngSubmit)="onSortChange()">
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Sortare</mat-label>
                <mat-select [formControl]="sortForm.controls.sortingCriteria">
                  <mat-option [value]="'order'">Ordine</mat-option>
                  <mat-option [value]="'endDate'">Data final</mat-option>
                  <mat-option [value]="'startDate'">Data început</mat-option>
                  <mat-option [value]="'id'">Data creare</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <div class="flex flex-col gap-5 h-full">
            <div *ngIf="!isLoadingIssues" class="h-full">
              <div
                [cdkDropListDisabled]="sortForm.controls.sortingCriteria.value !== 'order'"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
                *ngIf="projectType?.issues?.length > 0"
                class="flex flex-col gap-5"
              >
                <app-project-type-issue
                  cdkDrag
                  *ngFor="let issue of projectType?.issues"
                  [issue]="issue"
                  (_delete)="removeIssue($event)"
                  (_edit)="getProjectType()"
                  (_clone)="cloneIssue($event)"
                ></app-project-type-issue>
              </div>
              <div *ngIf="projectType?.issues?.length === 0" class="flex justify-center items-center h-full">
                <p class="text-gray-500 text-2xl">Nu există proiecte.</p>
              </div>
            </div>
            <div *ngIf="isLoadingIssues" class="w-full h-full flex items-center justify-center">
              <mat-spinner diameter="80"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-full flex justify-center items-center" *ngIf="isLoading">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openEditIssueTypeDialog()">
    <mat-icon>edit</mat-icon>
    <span>Editează</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Șterge</span>
  </button>
  <button mat-menu-item (click)="openCreateIssueDialog()" >
    <mat-icon>add</mat-icon>
    Creează proiect
  </button>
</mat-menu>
