<div class="h-full w-full p-5">
  <div class="flex flex-col gap-5 h-full max-w-[1200px] mx-auto">
    <div>
      <app-bradcrumbs-menu></app-bradcrumbs-menu>
    </div>
    <div class="flex-grow">
      <div class="h-full flex flex-col gap-5" *ngIf="!isLoading">
        <div class="flex justify-between items-center">
          <div class="flex justify-center items-center gap-5">
            <h2 class="font-bold !m-0">{{ project.title }}</h2>
          </div>
          <div class="flex gap-5 items-center">
            <app-project-importance [importance]="project.importance"></app-project-importance>
            <div
              class="w-[40px] h-[40px] rounded-full shadow"
              [style.background-color]="project.color ?? 'white'"
              [style.color]="ColorHelperService.invertedColor(project.color)"
            ></div>
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation(); $event.preventDefault()">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <p>{{ project.description }}</p>
        </div>
        <div class="flex flex-col flex-grow gap-5">
          <div class="flex flex-col gap-3 flex-grow">
            <div class="flex justify-between items-center w-full gap-5 border-b py-3">
              <h3 class="text-xl font-bold !m-0">Fișiere</h3>
            </div>
            <div *ngIf="project?.media?.length === 0" class="flex-grow flex items-center justify-center">
              <p>Nu există fișiere.</p>
            </div>
            <div *ngFor="let url of project.media" class="flex flex-col gap-5">
              <a [href]="'//' + url" target="_blank" class="text-blue-600 hover:text-blue-900 underline">{{ url }}</a>
            </div>
          </div>

          <div class="flex flex-col flex-grow gap-3">
            <div class="flex justify-between items-center w-full gap-5 border-b py-3">
              <h3 class="text-xl font-bold !m-0">Intervale de lucru ale angajaților</h3>
            </div>
            <div *ngIf="project?.tasks?.length === 0" class="flex-grow flex items-center justify-center">
              <p>Nu există intervale de lucru ale angajaților.</p>
            </div>
            <app-employees-table *ngIf="project?.tasks?.length > 0" [employeeIssues]="project.tasks"></app-employees-table>
          </div>
        </div>
      </div>
      <div class="w-full h-full flex justify-center items-center" *ngIf="isLoading">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <div class="rounded-[.5rem] overflow-hidden" cdkMenu>
    <button mat-menu-item cdkMenuItem (click)="openDuplicateDialog()">
      <mat-icon>content_copy</mat-icon>
      <span>Creează copie</span>
    </button>
    <button mat-menu-item cdkMenuItem (click)="openEditIssueDialog()">
      <mat-icon>edit</mat-icon>
      <span>Editează</span>
    </button>
    <button mat-menu-item (click)="openHandleEmployeesDialog()">
      <mat-icon>groups</mat-icon>
      <span>Gestionează angajați</span>
    </button>
    <button mat-menu-item cdkMenuItem (click)="openDeleteIssueDialog()">
      <mat-icon>delete</mat-icon>
      <span>Șterge</span>
    </button>
  </div>
</mat-menu>
