<div
  class="w-full h-[24px] relative"
  cdkDragBoundary=".example-boundary"
  cdkDrag
  [cdkDragDisabled]="isDragDisabled || isGlobalDragDisabled.value"
  #container
  [cdkContextMenuTriggerFor]="context_menu"
>
  <div class="relative w-full h-full">
    <div
      class="absolute box-border text-white rounded-md text-sm shadow flex justify-between items-center"
      [style.background-color]="task.color"
      [style.color]="ColorHelperService.invertedColor(task.color)"
      [ngStyle]="task.style"
      mwlResizable
      [enableGhostResize]="true"
      (resizeStart)="isDragDisabled = true"
      (resizeEnd)="onResizeEnd($event)"
      matTooltip="{{ task.project.title }} / {{ task.title }}"
      *ngIf="task.projectId"
      (dblclick)="openTaskDialog()"
    >
      <div class="flex gap-2 items-center">
        <div class="flex">
          <div class="h-[16px] flex justify-center items-center">
            <mat-icon class="cursor-col-resize scale-75" mwlResizeHandle [resizeEdges]="{ left: true }"> drag_indicator </mat-icon>
          </div>
          <div class="h-[16px] flex justify-center items-center">
            <span
              class="material-symbols-outlined scale-75"
              [class.opacity-50]="isDragDisabled || isGlobalDragDisabled.value"
              [class.!cursor-move]="!isDragDisabled && !isGlobalDragDisabled.value"
              cdkDragHandle
              [style.color]="ColorHelperService.invertedColor(task.color)"
            >
              drag_pan
            </span>
          </div>
        </div>
        <div>
          <span class="line-clamp-1"> {{ task.project.title }} / {{ task.title }} </span>
        </div>
      </div>

      <div class="h-[16px] flex justify-center items-center">
        <mat-icon class="cursor-col-resize scale-75" mwlResizeHandle [resizeEdges]="{ right: true }"> drag_indicator </mat-icon>
      </div>
    </div>
  </div>
</div>
<ng-template #context_menu>
  <div
    class="flex flex-col py-2 bg-[#EFEDF1] rounded-sm text-sm [box-shadow:0_3px_6px_rgba(0,0,0,0.16),_0_3px_6px_rgba(0,0,0,0.23)]"
    cdkMenu
  >
    <button
      (click)="openEditEmployeeProjectDialog()"
      cdkMenuItem
      class="w-full p-3 hover:bg-[#DEDCE0] flex items-center gap-2 outline-0 font-medium"
    >
      <mat-icon class="text-[#44474E]">edit</mat-icon>
      <span>Editează</span>
    </button>
    <button
      (click)="openDeleteEmployeeProjectDialog()"
      cdkMenuItem
      class="w-full p-3 hover:bg-[#DEDCE0] flex items-center gap-2 outline-0 font-medium"
    >
      <mat-icon class="text-[#44474E]">delete</mat-icon>
      <span>Șterge</span>
    </button>
  </div>
</ng-template>
