.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  height: 100%;
  cursor: col-resize;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.cdk-drag-preview {
  width: 100%;
  opacity: 0.8;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-placeholder .rectangle {
  background: rgba(0, 0, 0, 0.2);
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}
