<div class="px-3 py-5">
  <div class="flex flex-col gap-5 justify-center items-center">
    <div class="w-[80px] h-[80px] bg-[#ccc] rounded-full"></div>
    <div class="flex flex-col justify-center items-center">
      <p class="text-2xl !m-0">John Doe</p>
      <p class="text-md">johndoe&#x40;gmail.com</p>
    </div>
  </div>
</div>

<div class="flex flex-col py-5">
  <a
    routerLink="calendar"
    (click)="toggleSidebar()"
    class="p-3 flex items-center justify-between gap-2 border-b hover:bg-[#eee] transition-all cursor-pointer"
    matRipple
  >
    <span>Calendar</span>
    <mat-icon class="text-md">date_range</mat-icon>
  </a>
  <a
    routerLink="project-types"
    (click)="toggleSidebar()"
    class="p-3 flex items-center justify-between gap-2 border-b hover:bg-[#eee] transition-all cursor-pointer"
    matRipple
  >
    <span>Proiecte</span>
    <mat-icon class="text-md">bookmark</mat-icon>
  </a>
  <a
    routerLink="employees"
    (click)="toggleSidebar()"
    class="p-3 flex items-center justify-between gap-2 border-b hover:bg-[#eee] transition-all cursor-pointer"
    matRipple
  >
    <span> Angajați </span>
    <mat-icon class="text-md">groups</mat-icon>
  </a>
  <!--  <a
      routerLink="free-days"
      (click)="toggleSidebar()"
      class="p-3 flex items-center justify-between gap-2 border-b hover:bg-[#eee] transition-all cursor-pointer"
      matRipple
    >
      <span>Zile libere</span>
      <mat-icon class="text-md">hotel</mat-icon>
    </a>-->
</div>
