<div class="h-full w-full p-5">
  <div class="flex flex-col gap-5 h-full max-w-[1200px] mx-auto">
    <div>
      <app-bradcrumbs-menu></app-bradcrumbs-menu>
    </div>
    <div class="flex-grow">
      <div class="flex flex-col gap-5" *ngIf="!isLoading">
        <div class="flex justify-between items-center">
          <div class="flex justify-center items-center gap-5">
            <h1 class="text-3xl font-bold !m-0">{{ projectType?.title }} (Arhivă)</h1>
          </div>
          <div class="flex gap-5 items-center">
            <div class="w-[40px] h-[40px] rounded-full shadow" [style.background-color]="projectType?.color ?? 'white'"></div>
            <a [routerLink]="'/dashboard/project-types/' + projectType.id + '/' + projectType.title" mat-flat-button class="!bg-gray-400"
              >Mergeți la tipul de proiect</a
            >
          </div>
        </div>
        <div>
          <p>{{ projectType?.description }}</p>
        </div>
        <div class="flex flex-col gap-5 h-full" *ngIf="!isLoading">
          <div *ngIf="projectType?.issues?.length === 0" class="flex justify-center items-center h-full">
            <p class="text-gray-500 text-2xl">Nu există proiecte.</p>
          </div>
          <div *ngIf="projectType?.issues?.length > 0" class="flex flex-col gap-5">
            <app-archived-project
              *ngFor="let issue of projectType?.issues"
              [issue]="issue"
              (_restore)="restoreProject($event)"
            ></app-archived-project>
          </div>
        </div>
      </div>
      <div class="w-full h-full flex justify-center items-center" *ngIf="isLoading">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </div>
  </div>
</div>
