<div class="h-full w-full p-5">
  <div class="flex flex-col gap-5 h-full max-w-[1200px] mx-auto">
    <div>
      <app-bradcrumbs-menu></app-bradcrumbs-menu>
    </div>
    <div class="flex-grow">
      <div class="h-full flex flex-col gap-5" *ngIf="!isLoading">
        <div class="flex justify-between items-center">
          <div class="flex justify-center items-center gap-5">
            <h1 class="text-3xl font-bold !m-0">{{ issue.title }}</h1>
          </div>
          <div class="flex gap-5 items-center">
            <app-issue-importance [importance]="issue.importance"></app-issue-importance>
            <div class="w-[40px] h-[40px] rounded-full shadow" [style.background-color]="issue.color ?? 'white'"></div>
            <button mat-flat-button color="primary">
              Editează
              <mat-icon class="ml-2">add</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <p>{{ issue.description }}</p>
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-3">
            <div class="flex justify-between items-center w-full gap-5 border-b py-3">
              <h3 class="text-xl font-bold !m-0">Intervale de lucru ale angajaților</h3>
            </div>
            <div *ngFor="let employeeIssue of issue.employeeIssues">
              <div class="flex items-center gap-3 w-full px-5 py-2 shadow rounded-2xl">
                <span> {{ employeeIssue.employee.firstName }} {{ employeeIssue.employee.lastName }} </span>
                <span>{{ employeeIssue.startDate | date }} - {{ employeeIssue.endDate | date }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-full flex justify-center items-center" *ngIf="isLoading">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </div>
  </div>
</div>
