<div class="h-full w-full p-5">
  <div class="flex flex-col gap-5 h-full max-w-[1200px] mx-auto">
    <div>
      <app-bradcrumbs-menu></app-bradcrumbs-menu>
    </div>
    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold !m-0">Tipuri de proiecte</h1>
      <div class="flex gap-5 items-center">
        <a routerLink="archive" mat-flat-button class="!bg-gray-400">Arhivă</a>
        <button mat-flat-button (click)="openCreateProjectTypeDialog()" color="primary">
          Creează tip proiect
          <mat-icon class="ml-2">add</mat-icon>
        </button>
        <button mat-flat-button (click)="openCreateIssueDialog()" color="primary">
          Creează proiect
          <mat-icon class="ml-2">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex-grow">
      <div class="flex flex-col gap-5 h-full" *ngIf="!isLoading">
        <div *ngIf="issueTypes.length === 0" class="flex justify-center items-center h-full">
          <p class="text-gray-500 text-2xl">Nu există tipuri de proiecte.</p>
        </div>

        <div *ngIf="issueTypes.length > 0" class="flex flex-col gap-5" cdkDropList (cdkDropListDropped)="drop($event)">
          <app-project-type
            cdkDrag
            *ngFor="let projectType of issueTypes"
            [projectType]="projectType"
            (_edit)="getIssueTypes()"
            (_delete)="removeIssueType($event)"
          ></app-project-type>
        </div>
      </div>
      <div class="w-full h-full flex items-center justify-center" *ngIf="isLoading">
        <mat-spinner [diameter]="80"></mat-spinner>
      </div>
    </div>
  </div>
</div>
