<a
  [cdkContextMenuTriggerFor]="context_menu"
  [routerLink]="issue?.id + '/' + issue?.title"
  class="flex items-center justify-between gap-3 w-full px-5 py-2 shadow rounded-2xl hover:brightness-[80%] transition-all cursor-pointer"
  [style]="'background-image: linear-gradient(to right, white 40% ,' + issue?.color + ' 0%);'"
>
  <div class="w-full flex items-center gap-5 lg:max-w-[35%]">
    <app-issue-status [status]="issue.status"></app-issue-status>
    <span class="truncate">
      {{ issue?.title }}
    </span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation(); $event.preventDefault()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDuplicateDialog()">
      <mat-icon>content_copy</mat-icon>
      <span>Creează copie</span>
    </button>
    <button mat-menu-item (click)="openEditIssueDialog()">
      <mat-icon>edit</mat-icon>
      <span>Editează</span>
    </button>
    <button mat-menu-item (click)="openHandleEmployeesDialog()">
      <mat-icon>groups</mat-icon>
      <span>Gestionează angajați</span>
    </button>
    <button mat-menu-item (click)="openDeleteIssueDialog()">
      <mat-icon>delete</mat-icon>
      <span>Șterge</span>
    </button>
  </mat-menu>

  <ng-template #context_menu>
    <div class="bg-white rounded-[.5rem] overflow-hidden" cdkMenu>
      <button mat-menu-item cdkMenuItem (click)="openDuplicateDialog()">
        <mat-icon>content_copy</mat-icon>
        <span>Creează copie</span>
      </button>
      <button mat-menu-item cdkMenuItem (click)="openEditIssueDialog()">
        <mat-icon>edit</mat-icon>
        <span>Editează</span>
      </button>
      <button mat-menu-item cdkMenuItem (click)="openDeleteIssueDialog()">
        <mat-icon>delete</mat-icon>
        <span>Șterge</span>
      </button>
    </div>
  </ng-template>
</a>
