<div [class]="'!z-40 w-[calc(' + CalendarLayoutHelperService.layoutComponentWidth + 'px+1.5rem)] absolute'">
  <div class="bg-white border rounded" [class.absolute]="isVisible" cdkDrag>
    <div class="w-full flex justify-between items-center">
      <span class="font-medium text-md px-3">Proiecte</span>
      <button mat-icon-button (click)="isVisible = !isVisible">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
    <div [style.display]="isVisible ? 'block' : 'none'">
      <div *ngIf="isLoading">
        <div class="flex items-center justify-center w-full h-[400px]">
          <mat-spinner diameter="80"></mat-spinner>
        </div>
      </div>
      <div *ngIf="!isLoading">
        <div *ngFor="let projectType of projectTypes; let i = index" class="p-3 flex flex-col border-b">
          <span class="text-md font-medium !m-0" [style.color]="projectType.color">{{ projectType.title }}</span>
          <div
            class="flex flex-col gap-1"
            cdkDropList
            [id]="'stack' + i"
            [cdkDropListData]="projectType.projects"
            [cdkDropListConnectedTo]="getLinkedLists()"
            [cdkDropListSortingDisabled]="true"
          >
            <div
              *ngFor="let project of projectType.projects"
              class="text-white pl-3 rounded-md text-sm"
              [style.width]="CalendarLayoutHelperService.layoutComponentWidth + 'px'"
              [style.background-color]="project.color"
              [style.color]="ColorHelperService.invertedColor(project.color)"
              [cdkDragDisabled]="isGlobalDragDisabled.value"
              cdkDrag
              matTooltip="{{ project.title }}"
            >
              <div class="flex items-center gap-2">
                <div
                  class="h-[16px] flex justify-center items-center cursor-move"
                  [class.opacity-50]="isGlobalDragDisabled.value"
                  [class.!cursor-move]="!isGlobalDragDisabled.value"
                >
                  <span class="material-symbols-outlined !cursor-move scale-75" cdkDragHandle> drag_pan </span>
                </div>
                <span class="line-clamp-1"> {{ project.title }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
