<div class="w-full h-full p-5 max-w-[1200px] flex justify-around items-center gap-5 mx-auto">
  <a routerLink="calendar" class="p-5 w-full bg-white border hover:brightness-75 transition-all text-xl rounded-xl">
    <mat-icon class="text-2xl">date_range</mat-icon>
    Calendar
  </a>
  <a routerLink="project-types" class="p-5 w-full bg-white border hover:brightness-75 transition-all text-xl rounded-xl">
    <mat-icon class="text-2xl">bookmark</mat-icon>
    Proiecte
  </a>
  <a routerLink="employees" class="p-5 w-full bg-white border hover:brightness-75 transition-all text-xl rounded-xl">
    <mat-icon class="text-2xl">groups</mat-icon>
    Angajați
  </a>
</div>
